body {
    font-family: 'Anton', sans-serif;
    background-color:plum;
}
.header_div{
    background-color:pink;
    color:purple;
}
.header_div P{
   font-family: 'Dancing Script', cursive;
   color: blue;
   letter-spacing: 2px;
   font-size: 25px;
   font-weight: bolder;
}
.main_div button{
 font-family: 'Anton', sans-serif;
 margin-top: 30px;
 width: 130px;
 font-weight: bolder;
 letter-spacing: 2px;
 color: blueviolet;
 font-size: larger;
}
.copy_right_footer{
    position: fixed;
    color: darkmagenta;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:plum;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}
